:root{
  --fg:#231F20;
  --bg:#EAEAEA;
  --c1:#8e793e;
  --c2:#ad974f;
}
.App {
  text-align: center;
  background: var(--bg);
  color:var(--fg);
  height:100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Nvbr{
  z-index: 10;
  background-color: var(--c1);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Main{
  background:var(--c1);
}
.bcontainer{
  min-height: 50vh;
}
Container{
  background:rgba(0,0,0,0);
}
@import 'bootstrap/dist/css/bootstrap.min.css'