
.but, .but:visited{
    width: max(71px,50%);
    aspect-ratio: 1/1;
    margin:auto;
    background-color: transparent;
    border: 0.2em solid white;
    color:white;
    border-radius: 10%;
    outline:none;
    font-size:max(12px,1.5vw);

  }
  .but img{
    width:50%;

  }
  .partial{
    display:flex;
    padding-top: 1em;
    width: 100%;
  }
  .partial *{
    margin:0.5em;
  }
  .right{
    align-items: right;
  }
  .charts{
    border:1px dotted red;
    width: 30dvw;
    height:60dvh;
    margin:1%
  }
  .fullcharts{
    border:1px dotted red;
    width: 100dvw;
    height:60dvh;
    margin:1%;
  }
  .title{
    background-color: black;
    position:absolute;
    top:0;
  }
  .divider{
    display:flex;
    padding: 2%;
  }
  .text{
    margin:auto;
    padding: 2%;
  }
  .subsection{
    border:3px solid red;
    margin:1%;  
    padding: 1%;
    border-radius: 1vw;
  }
  .subsubsection{
    border:2px solid pink;
    margin:1%;  
    padding: 1%;
    border-radius: 1vw;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .subsubsubsection{
    border:2px solid pink;
    margin:1%;  
    padding: 1%;
    border-radius: 1vw;
  }
  .flexbox{
    display:flex;
    margin:1%;
    margin-right: 3%;
    padding-right: 2%;
  }
  .flexbox div{
    flex:33%;
  }